<div class="container mt-5">
    <h2>Danh sách Sản phẩm</h2>
  
    <div class="search-container mb-3">
      <input
        type="text"
        class="form-control search-input"
        placeholder="Tìm kiếm..."
        [(ngModel)]="searchQuery"
      />
      <a class="btn btn-primary" routerLink="/admin/products/new">Thêm mới</a>
    </div>
  
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Tên sản phẩm</th>
          <th>Hình ảnh</th>
          <th>Giá</th>
          <th>Số lượng (kg)</th>
          <th>Nhà cung cấp</th>
          <th>Mô tả</th>
          <th>Thao tác</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let sanpham of filteredProducts">
          <td>{{ sanpham.sp_ten }}</td>
          <td>
            <img [src]="'http://localhost:8080/sanpham/uploads/' + sanpham.sp_hinhanh" 
                 alt="{{ sanpham.sp_ten }}" 
                 style="width: 100px; height: auto;" />
          </td>
          <td>{{ sanpham.sp_gia }}</td>
          <td>{{ sanpham.sp_slton }}</td>
          <td>{{ sanpham.nhacungcap.ncc_ten}}</td> <!-- Hiển thị nhà cung cấp -->
          <td>{{ sanpham.sp_mota }}</td>
          <td>
            <button class="btn btn-warning m-1" (click)="editProduct(sanpham.sp_id)">Sửa</button>
            <button class="btn btn-danger m-1" (click)="deleteProduct(sanpham.sp_id)">Xóa</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  